*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 300px;
    padding: 20px;
    border-radius: 3px;
    background-color: peru;
    font-size: 12px;
}
form h1{
    text-align: center;
}
form button{
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    border: 0;
    border-radius: 3px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.box{
    display: flex;
    flex-direction: column;
}
.box label{
    font-size: 16px;
}
.box input{
    display: block;
    padding: 5px;
    border-radius: 3px;
    width: 100%;
    font-size: 12px;
    border: 0;
}
.box .error{
    color: red;
    font-size: 10px;
    height: 12px;
}
.box input:focus{
    outline: 0;
}
.box .success input{
    border: 1px solid green;
}
.box .error input{
    border: 1px solid red;
}
.link{
    text-align: center;
    padding: 5px;
}